<!DOCTYPE html>
<html lang="zh-CN">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

<!-- Header -->
<%- partial('_partial/header') %>

<!-- Main Content -->
<%- body %>

<!-- After footer scripts -->
<%- partial('_partial/after-footer') %>

</body>

</html>