<section class="main">
   <section class="content-header" style="background: url('/image/head.jpg');">
       <div class="top">
        <%- partial('button', {item: item}) %>
        <h1 class="title"><%- item.title %></h1>
       </div>
   </section>
   <section class="content">
   <%- item.content %>
   <%- partial('button', {item: item}) %>
   </section>
</section>