<% 
var p = [1, 2, 3, 4, 5, 6].sort(()=>(Math.random()>.5 ? -1 : 1)) ;
%>
<% page.posts.each(function(item, index){ %>
<div class="work">
    <a href="<%- config.root %><%- item.path %>">
        <img src="/image/<%= p[index] %>.jpg" class="media" alt=""/>
        <div class="caption">
            <div class="work_title">
                <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
            </div>
        </div>
    </a>
</div>
<% });  %>